*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/downloader_library/build/
/library/build/
/zip_file/build/